
body {
    background-color: #f2f2f2;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
}

h1 {
    color: #444444;
    text-align: center;
    font-size: 50px;
    padding: 20px 1px 1px 1px;
    margin: 0px;
}

p {
    color: #666666;
    text-align: center;
    padding: 1px 1px 1px 1px;
    margin: 0px;
}

#outer {
  width: 100%;
  text-align: center;
}
div.form {
    text-align: center;
    padding: 8px 1px 1px 1px;
}
div.form-outer {
    text-align: center;
}
div#service-help {
/*    text-align: left; */
    padding: 8px;
    height: 15px;
}

div.help {
    display: inline-block;
    text-align: left;
}

td {
    vertical-align: top;
}

td.service-name {
    font-weight: bold;
}

tr.service-category {
    font-weight: bold;
    font-size: 16px;
    color: #555555;
    margin: 40px;
}

tr.not-implemented {
    color: #bbbbbb;
}

td.meta-service-name {
    font-weight: bold;
    padding: 8px;
}

td {
    padding: 3px 8px;
}

th {
    padding: 10px 3px 3px 3px;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
}


.help-message-input {
    font-style: italic;
}

#footer {
    text-align: right;
    font-size: 10px;
    vertical-align: bottom;
}

